@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  /* background-color: rgb(20, 23, 45); */
  color: rgb(var(--foreground-rgb));
}
.container {
  width: 83%;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.play {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 50px;
}
